


.instPanelContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 48%;
    bottom: 0;
    transform: translateX(-50%);
    width: 25%;
    height: 190;
    z-index: 100;
    background-color: black;
    border-radius: 50px 50px 0px 0px;

}

.IPLocationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.IPDepthGauge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--six);
    color: var(--five);
    // position:fixed;
    font-size: 22;
    font-weight: 550;
    // top: 20;
    // left: 25;
    margin-top: 20px;
    z-index: 21;
    width: 45%;
    height: 65px;
    border-radius: 40px 40px 16px 16px;
    border: 3px solid rgb(58, 19, 19);
    text-align: center;
    background-color: yellowgreen;
    
}
.IPLatGauge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--six);
    color: var(--five);
    // position:fixed;
    font-size: 22;
    font-weight: 550;
    // top: 20;
    // left: 25;
    margin-top: 20px;
    z-index: 21;
    width: 45%;
    height: 65px;
    border-radius: 40px 40px 16px 16px;
    border: 3px solid rgb(58, 19, 19);
    text-align: center;
    background-color: yellowgreen;
    
}

.IPZoneGauge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--six);
    color: var(--five);
    // position:fixed;
    font-size: 22;
    font-weight: 550;
    // top: 20;
    // left: 25;
    margin: 20px;

    z-index: 21;

    width: 87%;
    height: 65px;
    border-radius:16px;
    border: 3px solid rgb(58, 19, 19);
    text-align: center;
    background-color: yellowgreen;
    

    
}