


.fadeInContainer {
    position: absolute;
    top: 500px;
    left: 300px;

    display: flex ;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: white;
    // z-index: 999;

}



.fadeIn {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  
.show {
    position: absolute;
    top: 500px;
    left: 300px;
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: white;

}