


.fadeInContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 400px;
    left: 280px;
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding-bottom: 20px;
    

    border-radius: 30px;
    opacity: 0;
    // transition: opacity 1s ease-in;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
.fadeInTitle {
  
    padding-top: 20px;
    // color: var(--four);
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0;
    transition: opacity 1s ease-in;

}
.fadeInText {
 
    padding: 20px;
    padding-top: 10px;
    // color: var(--three);
    opacity: 0;
    transition: opacity 1s ease-in;

}

.upperStyleContainer { 
    background-color: var(--two);
    border: 3px solid var(--three);
}
.upperStyleTitle {
    color: var(--four);
}
.upperStyleText {
    color: var(--three);
}

.upperPelagicStyleContainer { 
    background-color: var(--two);
    border: 3px solid var(--three);
    top: 600px;
    left: 200px;
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 650px;

}
.upperPelagicStyleTitle {
    color: var(--four);
}
.upperPelagicStyleText {
    color: var(--three);
}

// .middleStyle {
//     background-color: #0D376F;
//     color: white;
//     border: 3px solid white;
// }

.middleStyleContainer { 
    background-color:  #0D376F;
    border: 3px solid lightgoldenrodyellow
}
.middleStyleTitle {
    color: yellow
}
.middleStyleText {
    color: lightgoldenrodyellow
}

.lowerStyleContainer { 
    background-color:  black;
    border: 3px solid lightgreen
}
.lowerStyleTitle {
    color: lightgreen
}
.lowerStyleText {
    color: lightsalmon
}

// #fadeInText {
//     opacity: 0;
//     transition-property: opacity ;
//     transition-duration: 2s;
//     transition-timing-function: ease-in-out;
//     transition-delay: 0s;
//   }
  
// .fadeInContainer.show {
//     top: 400px;
//     left: 300px;
//     display: flex ;
//     justify-content: center;
//     align-items: center;
//     width: 400px;
//     height: 400px;
//     color: var(--three);
//     background-color: var(--two);
//     border: 3px solid var(--three);
//     border-radius: 30px;
// }

// .fadeInContainer.hide {
//     display: none;
// }

