.edContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 29rem;
    left: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    // padding-bottom: 20px;
    border-radius: 2rem;
    box-shadow: var(--shadowEffect);
}

.edContainer.hide {
    display: none;
}

.edTitle {
    padding-top: 20px;
    color: var(--four);
    font-size: 1.5rem;
    font-weight: 700;
}

.edText {
    padding: 20px;
    padding-top: 10px;
    color: var(--three);
}

.upperStyleEdContainer {
    background-color: var(--two);
    border: 3px solid var(--three);
}

.upperStyleEdTitle {
    color: var(--four);
}

.upperStyleEdText {
    color: var(--three);
}

.upperPelagicStyleEdContainer {
    background-color: var(--two);
    border: 3px solid var(--three);
    top: 720px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 200px;
    padding-bottom: 5px;
}

.upperPelagicStyleEdTitle {
    color: var(--four);
}

.upperPelagicStyleEdText {
    color: var(--three);
}

.middleStyleEdContainer {
    background-color: #0d376f;
    border: 3px solid #fafad2;
}

.middleStyleEdTitle {
    color: yellow;
}

.middleStyleEdText {
    color: lightgoldenrodyellow;
}

.lowerStyleEdContainer {
    background-color: black;
    border: 3px solid lightgreen;
}

.lowerStyleEdTitle {
    color: lightgreen;
}

.lowerStyleEdText {
    color: lightsalmon;
}

.cockpitStyleEdContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding-bottom: 5px;
    background-color: var(--cockpitBG);
    border: 3px solid var(--cockpitText);
    border-radius: 30px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.cockpitStyleEdTitle {
    color: var(--cockpitText);
}

.cockpitStyleEdText {
    color: var(--cockpitText);
}
