

//  body {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//  } 
//  #ocean-canvas { 
//      background-color: blue; 


//  } 


#sub{
    display:none;
    z-index: 100;
}
#floor{
    display:none;
   
}