


// canvas {
//     position: absolute;
//     display: block;
//     background:brown;
//     left:0;
//     right:0;
// }
#canvas1{
    display: none;
    background-color:yellow;

}

#canvas2{
    // display: none;
    background-color: green;
 
}
#canvas3{
    display:none;
    background-color: purple;  
   
}

body img {
    display: none;
}


#sub {
    display: none;  
}

#crossSection {
    display:none;   
}
#cockpit {
    display:none;   
}

#random {
    display:none;  
}

#depth {
    background-color: wheat;
    color: rgb(58, 19, 19);
    position:fixed;
    font-size: 25;
    font-weight: bold;
    top: 50;
    right: 200;
    z-index: 21;
    width: 200;
    height: 30;
    border-radius: 15px;
    text-align: center;
}



