
.gitHub {
    position: fixed;
    right: 100px;
    top: 10px;
    width: 50px;
    padding-left: 1px;
    background-color: white;
    z-index: 100;
}

.linkedIn {
    position: fixed;
    right: 170px;
    top: 10px;
    width: 50px;
    padding-left: 4px;
    background-color: white;
    color: #0A66C2;
    z-index: 100;
}
canvas {
    position: absolute;
    display: block;
    background:brown;
    left:0;
    right:0;
}
#canvas1{
    display: none;
    background-color:yellow;
}

#canvas2{   
    background-color: green;
}

#canvas3{
    display:none;
    background-color: purple;  
   
}

body img {
    display: none;
}


#sub {
    display: none;  
}

#crossSection {
    display:none;   
}
#cockpit {
    display:none;   
}

#random {
    display:none;  
}

#depth {
    background-color: wheat;
    color: rgb(58, 19, 19);
    position:fixed;
    font-size: 25;
    font-weight: bold;
    top: 25;
    right: 250;
    z-index: 21;
    width: 200;
    height: 30;
    border-radius: 15px;
    text-align: center;
}

.gauge {
    display:none;
}

.gauge.visible{
    display: block;
}








